<?xml version = '1.0' encoding = 'ISO-8859-1'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>ValidateOrderSoap12HttpPort</servlet-name>
    <servlet-class>za.co.thegreyhope.pinvalidation.ValidateOrder</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateOrderSoap12HttpPort</servlet-name>
    <url-pattern>/ValidateOrderSoap12HttpPort</url-pattern>
  </servlet-mapping>
</web-app>
